<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dell Hackathon</title>
    <!-- Master Stylesheet -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  <body onload="init();">
    <!-- Content -->
    <h1>Let's do this biatch!</h1>
  </body>
  <!-- Control Script -->
  <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</html>
